/* general */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

/* header */
.navbar-header {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;

}

.nav-link {
  position: relative;
  
}

.nav-link.active {
  color: rgb(93, 93, 242) !important;
  border-bottom: 4px solid  rgb(93, 93, 242) !important;
  padding-bottom: 30px;
  margin-bottom: -20px;
  
}

header {
  background-color: white;
}

.navbar-brand img {
  height: 60px;
}

/* main */
.head-jumbo {
  height: 280px;
  background-image: url(/public/jumbotron.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.head-jumbo .btn {
  position: absolute;
  bottom: -6%;
  left: 10%;

}
.content {
  background-color: #111;
  height: 100px;
  
}

.card-contain {
  width: 80%;
  margin: 0% auto;

}

.content h2 {
  line-height: 100px;
  color: gray;

}

.blue-bar {
  background-color: #007bff;
  min-height: 90px;

}

.dc-main-loghi {
  width: 80%;
  

}

.dc-main-loghi div{
  line-height: 90px;
  vertical-align: middle;
  
}

.loghi-main img {
  width: 25%;
  margin: 5px;
  
}

.loghi-main{
  font-size: 12px;

}


/* footer */
footer h5 {
  color: white;
}

footer li a {
  color: rgb(120, 120, 120);
  text-decoration: none;
}

footer li a:hover {
  color: whitesmoke;
}

.footer a:hover {
  text-decoration: underline;
 
}

.foot-jumbotron {
  background-image: url(/public/footer-bg.jpg);
  
}

.foot-dc{
  background-image: url(/public/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  
}

.foot-jumbotron img{
  width: 30%;
}

.jumbo-width {
  width: 80%;
  margin: 0% auto;

}

.footer-bar {
  background-color: rgb(32, 32, 32);
}

.last-footer {
  width: 80%;
  margin: 0 auto;
}

.social-icons img {
  width: 8%;
  margin: 4px;
}

.social-icons span {
  font-size: 16px;
  margin: 0 5px;
  color: rgb(91, 91, 222);
  font-weight: bold;
}

