/* general */
body {
  color: white;
  
}

/* header */
.navbar-header {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;

}

.nav-link.active {
  color: blue !important;
  border-bottom: 4px solid blue !important;
  padding-bottom: 
}

header {
  background-color: white;
}

.navbar-brand img {
  height: 80px;
}

/* main */
.content {
  background-color: #111;
  height: 100px;
  
}

.content h2 {
  line-height: 100px;
  width: 80%;
  margin: 0% auto;

}

.blue-bar {
  background-color: #007bff;
  min-height: 90px;

}

.dc-main-loghi {
  width: 80%;
  

}

.dc-main-loghi div{
  line-height: 90px;
  vertical-align: middle;
  
}

.loghi-main img {
  width: 25%;
  margin: 5px;
  
}

.loghi-main{
  font-size: 12px;

}


/* footer */

footer li a {
  color: rgb(120, 120, 120);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
 
}

.foot-jumbotron {
  background-image: url(/public/footer-bg.jpg);
  
}

.foot-dc{
  background-image: url(/public/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  
}

.foot-jumbotron img{
  width: 30%;
}

.jumbo-width {
  width: 80%;
  margin: 0% auto;

}

.footer-bar {
  background-color: rgb(32, 32, 32);
}

.last-footer {
  width: 80%;
  margin: 0 auto;
}

.social-icons img {
  width: 8%;
  margin: 4px;
}

.social-icons span {
  font-size: 16px;
  margin: 0 5px;
  color: blue;
  font-weight: bold;
}

