/* general */
body {
  background-color: #000;
  color: white;
  
}

/* header */
.navbar-header {
  width: 80%;
  margin: 0 auto;

}

header {
  background-color: white;
}
.navbar-brand img {
  height: 50px;
}

/* main */
.content {
  background-color: #111;
  height: 100px;
  
}

.content h2 {
  line-height: 100px;
  width: 80%;
  margin: 0% auto;

}

.blue-bar {
  background-color: #007bff;
  min-height: 90px;

}

.dc-main-loghi {
  width: 80%;
  font-size: 12px;
  

}

.dc-main-loghi div{
  line-height: 90px;
  vertical-align: middle;
  
}

.loghi-main img {
  width: 15%;
  
}


/* footer */
.footer {
  background-color: #222;
  padding: 40px 0;
}
.footer li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
 
}

.foot-jumbotron {
  background-image: url(/public/footer-bg.jpg);
}

.footer-bar {
  background-color: rgb(32, 32, 32);
}

.last-footer {
  width: 80%;
  margin: 0 auto;
}